
{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load ratings_filters %}

{% block title %}
Advice Ratings Home Page
{% endblock %}

{% block head %}
  {% dajaxice_js_import %}

  <script type="text/javascript">
      function my_callback(data){
        alert(data.message);
      };

  </script>
{% endblock %}

{% block body %}
<div class="container">

  <div class="advice_list large-5 columns">
    {% block content %}
      <h1>Rating List</h1>
      {% if advice_list %}
          {% for advice in advice_list %}

            <div class="large-12 columns">
        
              <h2>{{ advice.company }} <small>{{ advice.ticker }}</small></h2>
              <h4 ><small> Price Target: ${{advice.price_target}} Time Frame: {{advice.time_frame}}</small></h4>
              {% if not is_control%}
              <h4><small> Reputation:{{advice_rep|get_item:advice}} Status:{{advice_status|get_item:advice}}</small></h4>
              {% endif %}
              <p class="advice_content">{{advice.content}}</p>
              
              <div class="rating_left">
                <h4 class="left"><small>Rate Quality: </small></h4>
                <input type="range" max="5" step="1" id="quality-backing{{forloop.counter}}">
                <div class="rateit left custom_rating quality" data-rateit-backingfld="#quality-backing{{forloop.counter}}" 
                data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="10" data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}}></div>
              </div>

              <div class="rating_right">
                <h4 class="left"><small>Rate Performance: </small></h4>
                <input type="range" max="5" step="1" id="performance-backing{{forloop.counter}}">
                <div class="rateit left custom_rating performance" data-rateit-backingfld="#performance-backing{{forloop.counter}}" 
                data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="10" data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}}></div>
              </div>
              <hr>
            </div>
          {% endfor %}
          
          <script type="text/javascript">
            $(".rateit").bind('rated reset', function (event) {
              var rater = $(this);
              var value = rater.rateit('value');

              //Disable Voting
              rater.rateit('readonly', true);

              var advice_id = $(rater).data('advice-id');
              var profile_id = $(rater).data('profile-id');
              var user_id = $($("#uid")[0]).data('uid');
              var isPerformance = rater.hasClass("performance");
              
              Dajaxice.ratings.vote(my_callback, {'value':value, 'advice_id': advice_id, 'profile_id': profile_id, 'isPerformance': isPerformance, 'user_id': user_id});
            });
          </script>

      {% else %}
        <p>No advice is available.</p>
      {% endif %}
      <div class="large-12 columns">
        <center><button class="submit_button btn btn-default" data-toggle="modal" data-target="#myModal">Submit</button></center>
      </div>
  </div>
    {% endblock %}
</div><!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Survey</h4>
      </div>
        <div class="modal-body">
          This will be populated with the survey when I know what it entails.
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="uid" data-uid={{user.user_id}}></div>
{% endblock %}