
{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load ratings_filters %}

{% block title %}
Invest Competition
{% endblock %}

{% block head %}
  {% dajaxice_js_import %}

  <script type="text/javascript">
      $("#myButton").onclick = function () {
        location.href = "www.yoursite.com";
      };
      window.onbeforeunload = function() { return "Your data WILL NOT be saved."; };
      
      $(document).ready(function(){
        $('.carousel').carousel('pause');
      });

      function my_callback(data){
        console.log("Vote Registered! with " + data.message);
      };

      function saved(data){
        console.log(data.message);
      }

      function next_carousel(sequence_number) {
        var quality = $('#quality-backing-' + sequence_number).val();
        var performance = $('#performance-backing-' + sequence_number).val();
        console.log(quality);
        console.log(performance);

        if (quality == "0" || performance == "0") {
          alert("Please vote for both quality and performance.");
        } else {
        // if (quality != 0 && performance != 0) {
          $('#nextModal').modal("show");
          $('#carousel-id').carousel('next');
          world = $('.banner_text').text().split('-')[0];
          var idea_number = sequence_number + 1;

          $('.banner_text').text(world + '- ' + idea_number +"/4");
          $('html, body').animate({ scrollTop: 0 }, 'fast');
          var user_id = $($("#uid")[0]).data('uid');

          Dajaxice.ratings.save_next(saved,{'sequence_number': sequence_number, 'id_number': user_id});
        }
        // }
      };

      $(window).load(function(){
        var world = $($("#world")[0]).data('world');
        console.log("World: " + world);
        $('#loadModal').modal('show');
    });

    function submit_feedback() {
      var user_id = $($("#uid")[0]).data('uid');
      var advice_id = $("#advice_id").data('advice_id');
      var profile_id = $("#profile_id").data('profile_id');
      var value = $('input[name=feedback]:checked').val();

      if (value > 0) {
        Dajaxice.ratings.save_advice_feedback(saved,{'id_number': user_id, 'advice_id':advice_id, 'profile_id':profile_id,'value':value});
        var value = $('input[name=feedback]:checked').removeAttr("checked");
        $('#nextModal').modal('hide');
      }
    }

    function show_modal_2() {
      var user_id = $($("#uid")[0]).data('uid');
      var age = document.getElementById('age').value;
      var gender = $('input[name=gender]:checked').val();
      var experience = document.getElementById('experience').value;
      console.log(age);
      console.log(isNaN("hello"));
      if (!isNaN(age) && age !="" && gender != null 
        && !isNaN(experience) && experience != "") {
        Dajaxice.ratings.survey_batch_one(saved, {'id_number': user_id, 'age':age, 'gender':gender,'experience':experience});
        $('#submitModal-1').modal('hide');
        $('#submitModal-2').modal('show');
      }
    };

    function show_modal_3() {
      var user_id = $($("#uid")[0]).data('uid');
      var investment_familiarity = $('input[name=investment_familiarity]:checked').val();
      var firm = $('input[name=firm]:checked').val();
      var past_performance = $('#past_performance').val();
      console.log(investment_familiarity);
      console.log(firm);
      console.log(past_performance);
      if (investment_familiarity != null && firm != null && past_performance != null) {
        Dajaxice.ratings.survey_batch_two(saved, {'id_number': user_id, 'investment_familiarity':investment_familiarity, 'firm':firm,'past_performance':past_performance});
        $('#submitModal-2').modal('hide');
        $('#submitModal-3').modal('show');
      }
    };

    function show_modal_4() {
      var user_id = $($("#uid")[0]).data('uid');
      var zillow = $('input[name=zillow]:checked').val();
      var costar = $('input[name=costar]:checked').val();
      var netease = $('input[name=netease]:checked').val();
      var athena = $('input[name=athena]:checked').val();
      console.log(zillow);
      console.log(costar);
      console.log(netease);
      console.log(athena);
      if (zillow != null && costar != null && netease != null && athena != null) {
        Dajaxice.ratings.survey_batch_three(saved, {'id_number': user_id, 'zillow':zillow, 'costar':costar,'netease':netease, 'athena':athena});
        $('#submitModal-3').modal('hide');
        $('#submitModal-4').modal('show');
      }
    };

    function submit_survey() {
      var user_id = $($("#uid")[0]).data('uid');
      var reputation_influence = $('input[name=reputation_influence]:checked').val();
      var affiliation_influence = $('input[name=affiliation_influence]:checked').val();
      console.log(reputation_influence);
      console.log(affiliation_influence);
      if (reputation_influence != null && affiliation_influence != null ) {
        Dajaxice.ratings.survey_batch_four(saved, {'id_number': user_id, 'reputation_influence':reputation_influence, 'affiliation_influence':affiliation_influence});
        window.onbeforeunload = null;
        location.href = '/thankyou';
      }
    }

    function submit() {
      $(".rateit.vote").each( function() {
          var rater = $(this);
          var value = rater.rateit('value');

          var advice_id = $(rater).data('advice-id');
          var profile_id = $(rater).data('profile-id');
          var user_id = $($("#uid")[0]).data('uid');
          var isPerformance = rater.hasClass("performance");
          Dajaxice.ratings.click_vote(my_callback, {'value':value, 'advice_id': advice_id, 'profile_id': profile_id, 'isPerformance': isPerformance, 'is_submission': true, 'id_number': user_id});
          console.log("Voting for submission vote");
      });
    }

    $(function ()  
      { $("[rel=quality]").popover({title: 'Rate Quality', content: "This measures the extent to which you agree that this idea is high quality. One star represents low quality and five stars represents high quality."});  
    });  
    $(function ()  
      { $("[rel=performance]").popover({title: 'Rate Expected Performance', content: "This measures the extent to which you agree that this stock will move in the direction expected by this individual."});  
    });  
  </script>
{% endblock %}

{% block body %}
<div class="wide container">

  <div class="advice_list large-12">
    <div id="carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
        {% block content %}
          {% if advice_list %}
              {% for advice in advice_list %}
                {% if forloop.counter == 1 %}
                  <div class="item active large-12 columns">
                {% else %}
                  <div class="item large-12 columns">
                {% endif %}
                  <h2>{{ advice.company }} (US: {{advice.ticker}})</h2>
                  <div class="advice-width columns left">
                    <div class="rating_left">
                      <h5 class="left"> Price Target: ${{advice.price_target}}</h5>
                    </div>
                    <div class="rating_right">
                      <h5 class="left">Estimated Investment Horizon: {{advice.time_scale}}</h5>
                    </div>
                  </div>
                  {% if world_number > 1 %}
                    <div class="left advice-width columns">
                        <h5 class="signal left" rel="status" data-trigger="hover" data-placement="bottom"><b>This individual's last <u>{{advice_status|get_rand:advice}}</u> investment recommendations have recieved an average rating of <u>{{advice_status|get_status:advice}}</u> by their peers.</b></h5>

                        <h5 class="signal left" rel="reputation" data-trigger="hover" data-placement="bottom"><b>In a recent survey ranking the <u>most prestigious</u> firms in the industry, this individual's firm was ranked <u>{{advice_rep|get_rep:advice}} out of 135</u> firms.</b></h5>
                    </div>
                  {% endif %}
                  <div class="advice-width columns">
                    <p class="advice_content">{{advice.content}}</p>
                  </div>
                  <div class="company_stats columns">
                    <h5>Statistics: </h5>
                    <ul class="statistics">
                      <li>Asset Class: Common Equity</li>
                      <li>Price at Recommendation: $XX.YY</li>
                      <li>Recommendation: Long</li>
                      <li>Market Cap.: Small Cap</li>
                      <li>Country: United States</li>
                      <li>Situation: Value</li>
                    </ul>
                  </div>
                  
                  <div class="advice-width columns">
                    <div class="rating_left">
                      <h4 class="left" rel="quality" data-trigger="hover" data-placement="top" data-container="body"><small><b>Quality Rating:</b> </small></h4>
                      {% if advice.company in quality_votes %}
                      <input type="range" value={{quality_votes|get_item:advice.company}} max="5" step="1" id="quality-backing-{{forloop.counter}}">
                      <div class="rateit left custom_rating quality vote" data-rateit-backingfld="#quality-backing-{{forloop.counter}}" 
                      data-rateit-value={{quality_votes|get_item:advice.company}}
                      data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}} data-rateit-resetable="false"></div>
                      {% else %}
                      <input type="range" max="5" value="0" step="1" id="quality-backing-{{forloop.counter}}">
                      <div class="rateit left custom_rating quality vote" data-rateit-backingfld="#quality-backing-{{forloop.counter}}" 
                      data-rateit-resetable="false" data-rateit-ispreset="true"  data-rateit-min="0" data-rateit-max="5" data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}}></div>
                      {% endif %}
                    </div>

                    <div class="rating_right">
                      <h4 class="left" rel="performance" data-trigger="hover" data-placement="top"><small><b>Expected Performance Rating:</b> </small></h4>
                      {% if advice.company in performance_votes %}
                      <input type="range" value={{performance_votes|get_item:advice.company}} max="5" step="1" id="performance-backing-{{forloop.counter}}">
                      <div class="rateit left custom_rating performance vote" data-rateit-backingfld="#performance-backing-{{forloop.counter}}" 
                       data-rateit-value={{performance_votes|get_item:advice.company}} data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}} data-rateit-resetable="false"></div>
                      {% else %}
                      <input type="range" max="5" value="0" step="1" id="performance-backing-{{forloop.counter}}">
                      <div class="rateit left custom_rating performance vote" data-rateit-backingfld="#performance-backing-{{forloop.counter}}" 
                      data-rateit-resetable="false"  data-rateit-min="0" data-rateit-max="10" data-advice-id={{advice.id}} data-profile-id={{profile_dict|get_item:advice}}></div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="advice-width columns left">
                    <hr>
                  </div>
                  <div class="advice-width columns left">
                    {% if forloop.last %}
                      <center><button id="submit" class="submit_button btn btn-default" data-toggle="modal" data-target="#submitModal-1" onclick="submit();">Submit</button></center>
                    {% else %}
                      <center><button id="next_button" class="submit_button btn btn-default" onclick="next_carousel({{forloop.counter}});">Next</button></center>
                    {% endif %}
                  </div>
                </div>

              {% endfor %}
          {% else %}
            <p>No advice is available.</p>
          {% endif %}
        </div><!-- /.carousel-inner -->
      </div><!-- /.carousel --> 
      
      <script type="text/javascript">
        $(".rateit").bind('rated reset', function (event) {
          var rater = $(this);
          var value = rater.rateit('value');

          var advice_id = $(rater).data('advice-id');
          var profile_id = $(rater).data('profile-id');
          var user_id = $($("#uid")[0]).data('uid');
          $("#advice_id").data('advice_id', advice_id);
          $("#profile_id").data('profile_id', profile_id);

          var isPerformance = rater.hasClass("performance");
          Dajaxice.ratings.click_vote(my_callback, {'value':value, 'advice_id': advice_id, 'profile_id': profile_id, 'isPerformance': isPerformance, 'is_submission': false, 'id_number': user_id});
        });
        </script>   
  </div>
    {% endblock %}
</div><!-- /.container -->


<!-- Modal -->
<div class="modal fade" id="submitModal-1" tabindex="-1" role="dialog" aria-labelledby="submitModal-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Survey 1/4</h4>
      </div>
        <div class="modal-body">

            <div class="control-group">
              <label class="question control-label" for="textinput">Enter Age</label>
              <div class="controls">
                <input id="age" name="textinput" type="text" placeholder="Age in Years" class="input-small">
              </div>
            </div>

            <div class="control-group">
              <label class="question control-label" for="radios">Gender</label>
              <div class="controls">
                <label class="radio-inline" for="radios-0">
                  <input type="radio" name="gender" id="radios-0" value="0">
                  Male
                </label>
                <label class="radio-inline" for="radios-1">
                  <input type="radio" name="gender" id="radios-1" value="1">
                  Female
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="question control-label" for="textinput">Enter Years Of Experience</label>
              <div class="controls">
                <input id="experience" name="textinput" type="text" placeholder="Experience in Years" class="input-small">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button htype="button" class="btn btn-primary" onclick="show_modal_2();">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="submitModal-2" tabindex="-1" role="dialog" aria-labelledby="submitModal-2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Survey 2/4</h4>
      </div>
        <div class="modal-body">
          <div class="control-group">
            <label class="question control-label" for="radios">Familiarity with investment industry</label>
            <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="investment_familiarity" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="investment_familiarity" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="investment_familiarity" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="investment_familiarity" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="investment_familiarity" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="investment_familiarity" id="radios-6" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-7">
                <input type="radio" name="investment_familiarity" id="radios-7" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = expert)</p>
            </div>
          </div>

          <div class="control-group">
            <label class="question control-label" for="radios">I consider my firm a prestigious firm</label>
            <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="firm" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="firm" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="firm" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="firm" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="firm" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="firm" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="firm" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = very prestigious)</p>
            </div>
          </div>

          <div class="control-group">
            <label class="question control-label" for="selectbasic">Of your last three investment recommendations: How many have outperformed its benchmark in a reasonable time frame (e.g., one year)</label>
            <div class="controls">
              <select id="past_performance" class="input-small">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button htype="button" class="btn btn-primary" onclick="show_modal_3();">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="submitModal-3" tabindex="-1" role="dialog" aria-labelledby="submitModal-3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Survey 3/4</h4>
      </div>
        <div class="modal-body">
           <div class="control-group">
            <label class="question control-label" for="radios">How familiar are you with Zillow (Z)?</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="zillow" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="zillow" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="zillow" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="zillow" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="zillow" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="zillow" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="zillow" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = expert)</p>
            </div>
          </div>
          
          <div class="control-group">
            <label class="question control-label" for="radios">How familiar are you with CoStar (CSGP)?</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="costar" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="costar" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="costar" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="costar" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="costar" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="costar" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="costar" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = expert)</p>
            </div>
          </div>

          <div class="control-group">
            <label class="question control-label" for="radios">How familiar are you with NetEase (NTES)?</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="netease" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="netease" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="netease" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="netease" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="netease" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="netease" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="netease" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = expert)</p>
            </div>
          </div>

          <div class="control-group">
            <label class="question control-label" for="radios">How familiar are you with Athena Health (ATHN)?</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="athena" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="athena" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="athena" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="athena" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="athena" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="athena" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="athena" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = expert)</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button htype="button" class="btn btn-primary" onclick="show_modal_4();">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="submitModal-4" tabindex="-1" role="dialog" aria-labelledby="submitModal-4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Survey 4/4</h4>
      </div>
        <div class="modal-body">
                    <div class="control-group">
            <label class="question control-label" for="radios">When I rate the quality, reputation influences my rating</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="reputation_influence" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="reputation_influence" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="reputation_influence" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="reputation_influence" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="reputation_influence" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="reputation_influence" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="reputation_influence" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = very much)</p>
            </div>
          </div>

          <div class="control-group">
            <label class="question control-label" for="radios">When I rate quality, affiliations affect my rating (e.g., the firm, school ties, etc)</label>
              <div class="controls">
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="affiliation_influence" id="radios-0" value="1">
                1
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="affiliation_influence" id="radios-1" value="2">
                2
              </label>
              <label class="radio-inline" for="radios-2">
                <input type="radio" name="affiliation_influence" id="radios-2" value="3">
                3
              </label>
              <label class="radio-inline" for="radios-3">
                <input type="radio" name="affiliation_influence" id="radios-3" value="4">
                4
              </label>
              <label class="radio-inline" for="radios-4">
                <input type="radio" name="affiliation_influence" id="radios-4" value="5">
                5
              </label>
              <label class="radio-inline" for="radios-5">
                <input type="radio" name="affiliation_influence" id="radios-5" value="6">
                6
              </label>
              <label class="radio-inline" for="radios-6">
                <input type="radio" name="affiliation_influence" id="radios-6" value="7">
                7
              </label>
              <p class="rating-key help-block">(1 = not at all, 7 = very much)</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button htype="button" class="btn btn-primary" onclick="submit_survey();">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nextModal" tabindex="-1" role="dialog" aria-labelledby="loadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Advice Feedback</h4>
      </div>
      <div class="modal-body">
          <!-- Multiple Radios -->
          <div class="control-group" id="feeback-group">
            <label class="question control-label" for="radios"><h4>Select One</h4></label>
            <div class="controls">
              <label class="radio" for="radios-0">
                <input type="radio" name="feedback" id="feedback-0" value="1">
                I would publicly endorse this idea.
              </label>
              <label class="radio" for="radios-1">
                <input type="radio" name="feedback" id="feedback-1" value="2">
                I would anonymously endorse this idea.
              </label>
              <label class="radio" for="radios-2">
                <input type="radio" name="feedback" id="feedback-2" value="3">
                I would not endorse this idea.
              </label>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="submit_feedback();">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Investment Idea Competition</h4>
      </div>
        <div class="modal-body">
          You will be asked to rate (at bottom of each recommendation) the quality and expected performance of one investment recommendations, written by investment professionals, to help decide the winner of a competition.
          <br>
          <br>
          By continuing (clicking “I Agree”) you agree that the information presented does not constitute investment advice, recommendations, or solicitations with respect to investment advisory services or products. This information references an opinion and is for information purposes only. Seek a duly licensed professional for investment advice.
          <br>
          <br>
          You will be given a code at the end to receive credit for participating.
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger left" data-dismiss="modal" onclick="location.href = '/thankyou';">Leave Website</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">I Agree</button>
      </div>
    </div>
  </div>
</div>
<div id="uid" data-uid={{user.user_id}}></div>
<div id="advice_id" data-advice-id=0></div>
<div id="profile_id" data-profile-id=0></div>
<div id="world" data-world={{world_number}}></div>

{% endblock %}
