<div class="custom_nav navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="nav_project_name navbar-brand" href="#">Advice Ratings</a> -->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav_links nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="banner">
  <h1 class="banner_text" align="center">World {{world_number}}</h1>
</div>